
<div class="map-outer-container">
    <div #mapContainer class="mapContainer">
 
    </div>
</div>
<div class="table-container">
    <!-- <p-table [value]="listState" selectionMode="single" dataKey="state_abbr" [(selection)]="selectedRow" (onRowSelect)="onRowSelect($event)" [tableStyle]="{width:'100%'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Subregion</th>
                <th>State Name (Full)</th>
                <th>State Name (Abbr.)</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-state>
            <tr [pSelectableRow]="state">
                <td>{{ state.sub_region }}</td>
                <td>{{ state.state_name }}</td>
                <td>{{ state.state_abbr }}</td>
            </tr>
        </ng-template>
    </p-table> -->
</div>