<div class="map-outer-container">
    <div #mapContainer class="mapContainer"></div>
</div>
<div class="table-container">
    <!-- <form [formGroup]="myForm">
        <div>
            <input
                type="text"
                pInputText
                placeholder="Time Out (Minute)"
                formControlName="timeoutMinute"
                style="width: 100px"
            />
            <p-button [label]="'Set Timeout'" (onClick)="onBtnClickSetTimeout()"></p-button>
        </div>
        <div>
            <input type="checkbox" pCheckBox formControlName="renewToken" inputId="ny">
            <label for="ny">Auto Token Renewal</label>
        </div>
       
    </form>
    <div>
        <span>Count Down :</span><span>{{ displayCountDown }}</span>
    </div> -->
</div>
