.container {
  display: flex; 
  height: 100vh;
}

.map {
  flex: 1;
  position: relative; 
}

.form {
  max-width: 300px; 
  position: absolute; 
  right: 20px; 
  top: 20px; 
  padding: 16px;
  box-shadow: 0 2px 32px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9); 
  z-index: 10;
}

.p-field {
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
}
