<div class="map-outer-container">
    <div #mapContainer class="mapContainer"></div>
</div>
<div class="table-container">
    <!-- <div>
        <p-button [label]="'Start Route'" class="btnMenu" (onClick)="onClickDrawRoute()"></p-button>
        <p-button
            [styleClass]="'p-button-warning'"
            [label]="'Clear All'"
            class="btnMenu"
            (onClick)="onClickClearRoute()"
        ></p-button>
    </div>
    <div style="text-align: center;">
        <div class="item-list" *ngFor="let result of lstDirection; let i = index" (click)="onSelectedItem(result)">
            <span>{{result.displayText}}</span>
        </div>
        <span *ngIf="lstDirection.length === 0">No Data</span>
    </div> -->
</div>
